---
import { getCollection } from 'astro:content';
import TechItem from './TechItem.astro'

const allProjects = await getCollection('projects');
---

<div class="section_content_margin">
  <h2 class="heading">Projects</h2>
  <ul class="project-wrapper">
    {allProjects.map(project => (
      <li class="project-content-wrapper">
        <div class="name-link-wrapper">
          <p class="text-lg">{project.data.name}</p>  
          <div class="link-wrapper">
            {project.data.siteLink ? 
              <a href={project.data.siteLink} class="link">
                demo 
              </a> : null}
              {project.data.githubLink ? 
                <a href={project.data.githubLink} class="link">
              github
            </a> : null}
          </div>
        </div>
        <p>{project.data.description}</p>
        <TechItem techList={project.data.techStack} />
      </li>
    ))}
  </ul>
</div>

<style>
  h2 {
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .project-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .name-link-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  @container (width > 400px) {
    .name-link-wrapper {
      flex-direction: row;
      align-items: end;
      gap: 1.5rem;
    }
  }

  .link-wrapper {
    display: flex;
    gap: 1rem;
  }

  .link {
    color: var(--accent-light);
    font-size: .875rem;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
    transition: color .2s;
  }

  .link:hover {
    color: var(--accent-dark)
  }

</style>